@*@{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Home/Index.cshtml";
    }*@
@{
    ViewData["Title"] = "Error";
    <link href="~/styles/style.css" rel="stylesheet" />
}
<h1>Błąd logowania</h1>
<div class="agile-right">
    <a>@Html.ActionLink("Powrót", "Login", "Account")</a>
</div>