@{
    ViewData["Title"] = "Reset Password";
    <link href="~/styles/style.css" rel="stylesheet" />
}
<h1>Resetowanie hasła</h1>
<div class="clear-loading spinner">
    <span></span>
</div>
<div class="w3ls-login box box--big">
    <!-- form starts here -->
    <form asp-controller="Account" asp-action="Verify">
        <form action="Verify" method="post">
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> E-mail </label>
                <input type="email" name="E-mail" placeholder="Enter e-mail address" required="" />
            </div>                                
                <div class="agile-right">
                    <a>@Html.ActionLink("Powrót", "Login", "Account")</a>
                </div>

            <input type="submit" value="Reset">
        </form>
    </form>
</div>
<!-- //form ends here -->
<!--copyright-->
<div class="copy-wthree">
    <p>
        © PD2023. All Rights Reserved
    </p>
</div>
<!--//copyright-->