@{
    ViewData["Title"] = "Search";
}
<form>
  <div class="form-group">
    <label for="GMIFORM">Podaj Gminę</label>
    <input type="text" class="form-control" id="GMI" placeholder="Podaj Gminę">

  </div>
  <div class="form-group">
    <label for="POW">Jaki Powiat</label>
    <input type="text" class="form-control" id="POW" placeholder="POW">
  </div>
 
  <button type="submit" class="btn btn-primary">Szukaj</button>
</form>