@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/start/jquery-ui.css">
@using (Html.BeginForm("Search", "Teryt", FormMethod.Post))
{
    <input type="text" id="textGmi" name="search" />
  
    <br />
    <input type="submit" id="btnSubmit" value="Submit" />
    <br />
    <br />
    @ViewBag.Message
}
@section scripts{
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#textGmi").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Teryt/AutoComplete/',
                        data: { "input": request.term },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        error: function (response) {
                            alert(response.responseText);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                    //get selected value
                    //$("#personNameValue").val(i.item.val);
                },
                minLength: 1
            });
        });
    </script>
}
@*
<form>
  <div class="form-group">
    <label for="GMIFORM">Podaj Gminę</label>
    <input type="text" class="form-control" id="GMI" placeholder="Podaj Gminę">

  </div>
  <div class="form-group">
    <label for="POW">Jaki Powiat</label>
    <input type="text" class="form-control" id="POW" placeholder="POW">
  </div>
 
  <button type="submit" class="btn btn-primary">Szukaj</button>
</form>*@